*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    background: linear-gradient(to right,rgb(112, 177, 241), rgb(235, 173, 5)) ;
    text-align: center;
    justify-content: center;
}
.container h1{
    text-align: center;
    font-size: 42px;
    margin-bottom: 20px;
}
.main #value{
    font-size: 42px;
}
.button-container button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: inline-block;
    padding: 15px 40px;
    background: #a10024;
    border-radius: 20px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}
.button-container button:hover{
    background-color: rgb(235, 86, 86);
    transition: 0.5s ease-in-out;
}